#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100vw;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    position: absolute;
    bottom: -44;
  }

  #search-teachers .input-block + .input-block {
    margin-top: 0;
  }
}
